/* CARRUSEL DE IMAGENES */

.carrusel {
    position: relative;
    width: 100%;
    margin-bottom: 140px;
    padding-top: 200px;
}

.carrusel_item {
    display: none;
    position: relative;
    text-align: center;
}

.imagenes_carrusel {
    width: 100%;
    height: 565px;
}

.carrusel_description_p {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-family: "Lato", sans-serif;
}

@media (max-width:1300px) {
    .carrusel {
        padding-top: 0px;
    }
}


@media (max-width: 900px) {
    .imagenes_carrusel {
        width: 100%;
        height: 500px;
    }
}

@media (max-width: 720px) {

    .carrusel {
        width: 100%;
        padding-top: 0px;
    }

    .imagenes_carrusel {
        width: 100%;
        height: 280px;
    }

    .carrusel_description_p {
        font-size: 11px;
        padding: 5px;
    }
}